@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<h3 style="color:blue;">Progression personnelle</h3>

<div class="row">
    <div class="col-md-3">
        <select id="cboGameSpan" style="margin-bottom:10px;" onchange="UpdateGraphs()">
            <option value="10">10 dernières parties</option>
            <option value="50">50 dernières parties</option>
            <option value="250">250 dernières parties</option>
        </select>
        <br />

        <select id="cboSize" style="margin-bottom:10px;" onchange="UpdateGraphs()">
            <option value="-1">Toutes les tailles</option>
            <option value="0">Petit</option>
            <option value="1">Moyen</option>
            <option value="2">Grand</option>
        </select>
        <br />

        <select id="cboDifficulty" onchange="UpdateGraphs()">
            <option value="-1">Toutes les difficultées</option>
            <option value="0">Facile</option>
            <option value="1">Moyen</option>
            <option value="2">Difficile</option>
            <option value="3">Extrème</option>
        </select>
        <br />
    </div>

    <div id="personalScoresGraphDiv" class="col-md-9">
        <figure style="width: 400px; height: 300px;" id="personalScoresGraph"></figure> <!-- Doc: http://www.jqueryscript.net/chart-graph/JavaScript-Charts-With-SVG-xCharts.html -->
    </div>
</div>

<h3 style="color:blue;">Meilleurs parties</h3>

<div class="row">
    <div class="col-md-3">
        <select id="cboTimeSpan" onchange="UpdateGraphs()">
            <option value="365000">Tous les temps</option>
            <option value="1">24 dernières heures</option>
            <option value="30">30 derniers jours</option>
            <option value="365">Dernière année</option>
        </select>
    </div>

    <div id="top10GraphDiv" class="col-md-9">
        <figure style="width: 400px; height: 300px;" id="top10Graph"></figure> <!-- Doc: http://designmodo.com/create-interactive-graph-css3-jquery/ -->
    </div>
</div>

<!-- JS -->
<script type="text/javascript">
    UpdateGraphs = function () {
        var timeSpan = ById('cboTimeSpan').options[ById('cboTimeSpan').selectedIndex].value;
        var gameSpan = ById('cboGameSpan').options[ById('cboGameSpan').selectedIndex].value;
        var size = ById('cboSize').options[ById('cboSize').selectedIndex].value;
        var difficulty = ById('cboDifficulty').options[ById('cboDifficulty').selectedIndex].value;

        $.getJSON("../Home/GetProgression", { GameSpan: gameSpan, Size: size, Difficulty: difficulty }, DrawPersonalScoresGraph);
        $.getJSON("../Home/GetTop10Scores", { TimeSpan: timeSpan, Size: size, Difficulty: difficulty }, DrawTop10Graph);
    };

    DrawPersonalScoresGraph = function (scores) {
        var scoresData = [];

        for (var i = 0; i < scores.length; i++) {
            scoresData[i] = {
                "x": i,
                "y": scores[i]
            }
        };

        var graphData = {
            "xScale": "ordinal",
            "yScale": "linear",
            "type": "line",
            "main": [
              {
                  "className": ".pizza",
                  "data": scoresData
              }
            ]
        };
        new xChart('line', graphData, '#personalScoresGraph');
    };

    DrawTop10Graph = function (scores) {
        var scoresData = [];

        for (var i = 0; i < scores.length; i++) {
            scoresData[i] = {
                "x": scores[i].User,
                "y": scores[i].Score
            }
        };

        var graphData = {
            "xScale": "ordinal",
            "yScale": "linear",
            "main": [
              {
                  "className": ".pizza",
                  "data": scoresData
              }
            ]
        };
        new xChart('bar', graphData, '#top10Graph');
    };

    window.onload = function () {
        UpdateGraphs();
    };
</script>
