@{
    ViewBag.Title = "Home Page";
}
  @*<base href="http://s.fotorama.io/okonechnikov/">*@

<div class="jumbotron">
    ICI la galerie d'imagenes qui serve comme guide du jeu, sont fait ou dernier avec immpresions d'ecran
<div class="fotorama" data-width="700" data-ratio="700/467" data-max-width="100%">
    
  @*<img src="1-lo.jpg">
  <img src="2-lo.jpg">
  <img src="9-lo.jpg">
  <img src="6-lo.jpg">
  <img src="5-lo.jpg">*@
</div>
</div>




<div class="jumbotron">
    <div id="gameContainer"></div>
    <div id="gameMenu">
        Score: <div id="scoreDiv">0</div> <br />
        <select id="cboSize"></select> <br />
        <select id="cboDifficultyLevel"></select> <br />
        <input id="cmdNewGame" type="button" value="Nouvelle partie" onclick="StartNewGame()"/>
    </div>

    @*<p class="lead">IMPORTANT, utiliser HomeController et les view du dossier HOME, la homepage est View/Home/Index Pablo </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>  le DIV jumbotron est un bon place pour metre le jeu </p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        G.Init(G.Sizes[2], G.Difficulties[0], ById('gameContainer'));

        G.ScoreUpdated = function (clusterSize, newScore) {
            scoreDiv.innerHTML = newScore;
        };

        // Initialize combo box des tailles de jeu.
        cboSizeOpts = "<option value='0'>-- Taille --</option>";

        for (var i = 0; i < G.Sizes.length; i++) {
            cboSizeOpts += "<option value='" + i + "'>" + G.Sizes[i].Name + "</option>";
        };

        ById('cboSize').innerHTML = cboSizeOpts;

        // Initialize combo box des niveaux de difficultés de jeu.
        cboDiffLvlsOpts = "<option value='0'>-- Niveau de difficulté --</option>";

        for (var i = 0; i < G.Difficulties.length; i++) {
            cboDiffLvlsOpts += "<option value='" + i + "'>" + G.Difficulties[i].Name + "</option>";
        };

        ById('cboDifficultyLevel').innerHTML = cboDiffLvlsOpts;
    };

    StartNewGame = function () {
        G.CleanUpImgs();

        var newSize = ById('cboSize').options[ById('cboSize').selectedIndex].value;
        var newDiff = ById('cboDifficultyLevel').options[ById('cboDifficultyLevel').selectedIndex].value;

        G.Init(G.Sizes[newSize], G.Difficulties[newDiff], ById('gameContainer'));
    };
</script>