@{
    ViewBag.Title = "Home Page";
}
  @*<base href="http://s.fotorama.io/okonechnikov/">*@

<div class="jumbotron">
    ICI la galerie d'imagenes qui serve comme guide du jeu, sont fait ou dernier avec immpresions d'ecran

    <div class="fotorama" data-width="700" data-ratio="700/467" data-max-width="100%">
    
      @*<img src="1-lo.jpg">
      <img src="2-lo.jpg">
      <img src="9-lo.jpg">
      <img src="6-lo.jpg">
      <img src="5-lo.jpg">*@
    </div>
</div>




<div class="col-md-12">
    <div class="row">
        <div class="col-md-9">
            <div id="gameContainer"></div>
        </div>

        <div class="col-md-3">
            <div id="gameMenu">
                <div id="scoreDiv">Score: 0</div> <br />
                <select id="cboSize"></select> <br />
                <select id="cboDifficultyLevel"></select> <br />
                <input id="cmdNewGame" type="button" value="Nouvelle partie" onclick="StartNewGame()"/>
            </div>
        </div>
    </div>

    @*<p class="lead">IMPORTANT, utiliser HomeController et les view du dossier HOME, la homepage est View/Home/Index Pablo </p>*@
</div>

<script type="text/javascript">
    window.onload = function () {
        // Initialize jeu
        G.Init(G.Sizes[2], G.Difficulties[0], ById('gameContainer'));

        G.GameStarted = function() {
            /*<input id="username" type="hidden" value="@User.Identity.Name" />
            var username = ById('txtUsername').value;
                
            $.getJSON("../Home/CreateScore", { Username: username, Size: size, Difficulty: difficulty }, function(scoreID) {
                G.ScoreID = scoreID;
                
                if (G.ScoreID === -1) {
                    alert("Il y a eu une erreur lors de la création de cette partie et votre pointage ne pourra pas être sauvegarder. Contactez l'administrateur si cette erreur persiste.");
                };
            });*/
        };
        
        G.ScoreUpdated = function (clusterSize, newScore) {
            scoreDiv.innerHTML = "Score: " + newScore;
            
            if (G.ScoreID !== -1) {
                /*$.getJSON("../Home/UpdateScore", { ScoreID: G.ScoreID, NewScore: newScore }, function(updateSuccessful) {
                    
                });*/
            }
        };

        // Initialize combo box des tailles de jeu.
        cboSizeOpts = "<option value='0'>-- Taille --</option>";

        for (var i = 0; i < G.Sizes.length; i++) {
            cboSizeOpts += "<option value='" + i + "'>" + G.Sizes[i].Name + "</option>";
        };

        ById('cboSize').innerHTML = cboSizeOpts;

        // Initialize combo box des niveaux de difficultés de jeu.
        cboDiffLvlsOpts = "<option value='0'>-- Difficulté --</option>";

        for (var i = 0; i < G.Difficulties.length; i++) {
            cboDiffLvlsOpts += "<option value='" + i + "'>" + G.Difficulties[i].Name + "</option>";
        };

        ById('cboDifficultyLevel').innerHTML = cboDiffLvlsOpts;
    };

    StartNewGame = function () {
        G.CleanUpImgs();

        var newSize = ById('cboSize').options[ById('cboSize').selectedIndex].value;
        var newDiff = ById('cboDifficultyLevel').options[ById('cboDifficultyLevel').selectedIndex].value;

        G.Init(G.Sizes[newSize], G.Difficulties[newDiff], ById('gameContainer'));
    };
</script>