@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated) {
    <input id="username" type="hidden" value='@Html.Encode(User.Identity.Name)' />
}
else {
    <input id="username" type="hidden" value='' />
}

<div class="jumbotron">
    ICI la galerie d'imagenes qui serve comme guide du jeu, sont fait ou dernier avec immpresions d'ecran

    <div class="fotorama" data-width="700" data-ratio="700/467" data-max-width="100%">
    
      @*<img src="1-lo.jpg">
      <img src="2-lo.jpg">
      <img src="9-lo.jpg">
      <img src="6-lo.jpg">
      <img src="5-lo.jpg">*@
    </div>
</div>




<div class="col-md-12">
    <div class="row">
        <div class="col-md-9">
            <div id="gameContainer"></div>
        </div>

        <div class="col-md-3">
            <div id="gameMenu">
                <div id="prixContainer">
                    <i id="PrixLogo" style="font-size:200px; color:#33053e" ></i>
                    <h3 id="wow"></h3>
                </div>
                <div id="scoreDiv">Score: 0</div> <br />
                <select id="cboSize"></select> <br />
                <select id="cboDifficultyLevel"></select> <br />
                <input id="cmdNewGame" type="button" value="Nouvelle partie" onclick="StartNewGame()"/>
            </div>
        </div>
    </div>

    @*<p class="lead">IMPORTANT, utiliser HomeController et les view du dossier HOME, la homepage est View/Home/Index Pablo </p>*@
</div>

<script type="text/javascript">
    window.onload = function () {
        // Initialize jeu
        G.Init(G.Sizes[2], G.Difficulties[0], ById('gameContainer'));

        @if (!Request.IsAuthenticated) {
            <text>
            G.OnClick = function() {
                alert("Vous devez être connecté pour jouer à ce jeu!");
                window.location.replace ("../Account/Register");
            }
            </text>
        }

        G.GameStarted = function() {
            var username = '@Html.Encode(User.Identity.GetUserId())';
            var size = G.Size.Index;
            var difficulty = G.Difficulty.Index;
                
            $.getJSON("../Home/CreateScore", { Username: username, Size: size, Difficulty: difficulty }, function(scoreID) {
                G.ScoreID = scoreID;
                console.log("ScoreID: " + G.ScoreID);
                if (G.ScoreID === -1) {
                    alert("Il y a eu une erreur lors de la création de cette partie et votre pointage ne pourra pas être sauvegarder. Contactez l'administrateur si cette erreur persiste.");
                }
            });
        };
        
        G.ScoreUpdated = function (clusterSize, newScore) {
            scoreDiv.innerHTML = "Score: " + newScore;
            $.Prix(clusterSize);

            if (G.ScoreID !== -1) {
                $.getJSON("../Home/UpdateScore", { ScoreID: G.ScoreID, NewScore: newScore }, function(updateSuccessful) {
                    console.log("Success: " + updateSuccessful);
                });
            }
        };

        // Initialize combo box des tailles de jeu.
        cboSizeOpts = "<option value='0'>-- Taille --</option>";

        for (var i = 0; i < G.Sizes.length; i++) {
            cboSizeOpts += "<option value='" + i + "'>" + G.Sizes[i].Name + "</option>";
        };

        ById('cboSize').innerHTML = cboSizeOpts;

        // Initialize combo box des niveaux de difficultés de jeu.
        cboDiffLvlsOpts = "<option value='0'>-- Difficulté --</option>";

        for (var i = 0; i < G.Difficulties.length; i++) {
            cboDiffLvlsOpts += "<option value='" + i + "'>" + G.Difficulties[i].Name + "</option>";
        };

        ById('cboDifficultyLevel').innerHTML = cboDiffLvlsOpts;
    };

    StartNewGame = function () {
        G.CleanUpImgs();
        $.Prix(0);

        var newSize = ById('cboSize').options[ById('cboSize').selectedIndex].value;
        var newDiff = ById('cboDifficultyLevel').options[ById('cboDifficultyLevel').selectedIndex].value;

        G.Init(G.Sizes[newSize], G.Difficulties[newDiff], ById('gameContainer'));
    };

    $.Prix = function (clusterSize) {
        if (clusterSize < 5) {
            icon = "";
            msg = ""; 
            c= 'black'; 
        }
        else if (clusterSize > 5 && clusterSize < 11) {
            c = "red";
            icon = 'fa fa-flag';
            msg = "wow!! " + clusterSize + " Clusters";
           
        }
        else if (clusterSize > 10 && clusterSize < 16) {
            c = "black";
            icon = 'fa fa-flag-checkered';
            msg = "wow!! " + clusterSize + " Clusters";
        }
        else if (clusterSize > 15 && clusterSize < 26) {
            c = "blue";
            icon = 'fa fa-gamepad';
            msg = "Acro!! " + clusterSize + " Clusters";
        }
        else if (clusterSize > 25 && clusterSize < 51) {
            c = "#ff6a00";
            icon = 'fa fa-graduation-cap';
            msg = "Niveau des Éxperts " + clusterSize + " Clusters";
        }
        else if (clusterSize > 50 && clusterSize < 101) {
            c = "#33053e";
            icon = 'fa fa-trophy';
            msg = "Machine!! " + clusterSize + " Clusters";
        }
        else if (clusterSize > 100) {
            c = "green";
            icon = 'fa fa-reddit';
            msg = "Alien!! " + clusterSize + " Clusters";
        }

        $("#PrixLogo").css('color', c);
        $("#PrixLogo").removeAttr("class");
        $("#PrixLogo").addClass(icon);
        wow.innerHTML = msg;


    }
</script>