<style>
    .Avatar:hover {
        cursor: pointer;
        color: red;
    }
</style>


<script id="AvatarsTemplate" type="text/x-handlebars-template">
    {{#each}}

    <b class="Avatar" id="{{IdAvatar}}">{{Nom}}</b>
    <br />
    {{/each}}
</script>

<script id="imgTemplate" type="text/x-handlebars-template">
    {{#each}}
    <img src="../Images/Avatars/{{Source}}" id="{{Id}}" />
    <p><b>Description :</b>{{description}}</p>
    {{/each}}
</script>
<script type="text/javascript">
    templateAvatars = null;
    templateImg = null;
        $(function () {

            templateAvatars = Handlebars.compile($("#AvatarsTemplate").html());
            templateImg = Handlebars.compile($("#imgTemplate").html());
            $.getJSON("../Avatar/GetAvatars", null, function (data) {
                console.log(data.length);
                    var result = templateAvatars(data);
                    $("#avatarList").html(result);
                    $(".Avatar").click(function () {
                        var id = this.id;
                        console.log(id);
                        $.getJSON("../Avatar/GetImg", { IDAvatar: id }, function(data){
                            var result = templateImg(data);
                            $("#imgcontainer").html(result);
                        });
                    });
                });
            });
</script>

<div class="row">

    <div id="imgcontainer" class="col-md-4"></div>
    <div id="avatarList" class="col-md-4"></div>
</div>

